@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;
  --color-primary: 221.2 83.2% 53.3%;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: 210 40% 96.1%;
  --color-secondary-foreground: 222.2 47.4% 11.2%;
  --color-muted: 210 40% 96.1%;
  --color-muted-foreground: 215.4 16.3% 46.9%;
  --color-accent: 210 40% 96.1%;
  --color-accent-foreground: 222.2 47.4% 11.2%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 222.2 84% 4.9%;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* accordion */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

.dark {
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 40% 98%;
  --color-card: 222.2 84% 4.9%;
  --color-card-foreground: 210 40% 98%;
  --color-popover: 222.2 84% 4.9%;
  --color-popover-foreground: 210 40% 98%;
  --color-primary: 217.2 91.2% 59.8%;
  --color-primary-foreground: 222.2 47.4% 11.2%;
  --color-secondary: 217.2 32.6% 17.5%;
  --color-secondary-foreground: 210 40% 98%;
  --color-muted: 217.2 32.6% 17.5%;
  --color-muted-foreground: 215 20.2% 65.1%;
  --color-accent: 217.2 32.6% 17.5%;
  --color-accent-foreground: 210 40% 98%;
  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 217.2 32.6% 17.5%;
  --color-input: 217.2 32.6% 17.5%;
  --color-ring: 212.7 26.8% 83.9%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply scroll-smooth accent-primary scrollbar-thin scrollbar-track-transparent scrollbar-thumb-border dark:scrollbar-track-transparent;
  }
}

@layer base {
  a {
    @apply [overflow-wrap:anywhere];
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0rem;

  @apply 2xl:max-w-[1400px];
}

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--color-border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--color-border) 50%,
      var(--color-border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }

  .border-border {
    @apply border-border/70 dark:border-border;
  }

  .divide-border {
    @apply divide-border/70 dark:divide-border;
  }
}

@layer components {
  .footer {
    --footer-text-size: clamp(3rem, 14rem, 14vw);

    display: flex;
    justify-content: center;
    color: var(--color-muted-foreground);
    position: relative;
    overflow: clip;
    min-height: var(--footer-text-size);
  }

  .footer-text {
    text-rendering: geometricPrecision;
    font-weight: 900;
    font-size: var(--footer-text-size);
    letter-spacing: 0;
    opacity: 0.3;
    position: absolute;
    bottom: calc(-1 * var(--footer-text-size) / 1.6);
  }

  .footer-grid {
    background-color: transparent;
    background-image: radial-gradient(transparent 1px, rgb(255, 255, 255) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255, 0.6) 100%
    );
    opacity: 1;
    position: absolute;
    inset: 0;
    overflow: visible;
    z-index: 1;
    flex: none;
  }

  .footer-gradient {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0% 50%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }

  .dark .footer-gradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0% 50%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .dark .footer-grid {
    background-image: radial-gradient(transparent 1px, rgb(0, 0, 0) 1px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0.6) 100%);
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark ::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-new(theme-transition) {
    clip-path: inset(0 0 100% 0);
    animation: slide-in-from-top 0.65s forwards cubic-bezier(0.65, 0, 0.35, 1);
  }

  ::view-transition-old(theme-transition) {
    animation: none;
  }

  @keyframes slide-in-from-top {
    to {
      clip-path: inset(0 0 0 0);
    }
  }
}
